## Part 1: Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras import layers


#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [2]:
# Determine the number of unique values in each column
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [3]:
# Create y_df with the Attrition and Department columns
y_df = attrition_df[['Attrition', 'Department']]
column_names = list(attrition_df.columns)

X = attrition_df.drop('Attrition', axis=1)
y = attrition_df['Attrition']
print(column_names)

['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome', 'Education', 'EducationField', 'EnvironmentSatisfaction', 'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus', 'NumCompaniesWorked', 'OverTime', 'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction', 'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager']

In [4]:
# Create a list of at least 10 column names to use as X data
columns_for_X = [
    'Age', 'BusinessTravel', 'Education', 
    'Department', 'JobSatisfaction', 'DistanceFromHome', 'Education', 'EnvironmentSatisfaction',
    'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobRole'
]

# Create X_df using your selected columns
X_df = attrition_df[columns_for_X]

# Show the data types for X_df
print(X_df.dtypes)

Age                         int64
BusinessTravel             object
Education                   int64
Department                 object
JobSatisfaction             int64
DistanceFromHome            int64
Education                   int64
EnvironmentSatisfaction     int64
HourlyRate                  int64
JobInvolvement              int64
JobLevel                    int64
JobRole                    object
dtype: object

In [5]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [6]:
# Convert your X data to numeric data types however you see fit
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
import pandas as pd

# Identify categorical and numerical columns
categorical_cols = X_df.select_dtypes(include=['object']).columns
numerical_cols = X_df.select_dtypes(exclude=['object']).columns

# Create a preprocessing pipeline with OneHotEncoding for categorical variables
# and StandardScaler for numerical variables
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numerical_cols),  # Scale numerical columns
        ('cat', OneHotEncoder(drop='first', sparse_output=False), categorical_cols)  # One-hot encode categorical columns
    ])

# Apply the transformations to the data
X_processed = preprocessor.fit_transform(X_df)

# Create a DataFrame for the processed data
# After one-hot encoding, we need to append the column names for the new dummy columns
encoded_columns = preprocessor.transformers_[1][1].get_feature_names_out(categorical_cols)

# Combine original numerical column names with the new one-hot encoded column names
all_columns = list(numerical_cols) + list(encoded_columns)

X_processed_df = pd.DataFrame(X_processed, columns=all_columns)

# Display the first few rows of the processed data
print(X_processed_df.head())

ValueError: Selected columns, ['Age', 'Education', 'JobSatisfaction', 'DistanceFromHome', 'Education', 'EnvironmentSatisfaction', 'HourlyRate', 'JobInvolvement', 'JobLevel'], are not unique in dataframe

In [ ]:
# Create a StandardScaler
scaler = StandardScaler()

# Fit the StandardScaler to the training data
scaler.fit(X_train)

# Scale the training and testing data
X_train_scaled = scaler.transform(X_train)

In [ ]:
from sklearn.preprocessing import OneHotEncoder

# Create a OneHotEncoder for the Department column
encoder = OneHotEncoder(sparse=False, drop='first') 

# Fit the encoder to the training data
encoder.fit(X_train[['Department']])

# Create two new variables by applying the encoder
# to the training and testing data
X_train_encoded = encoder.transform(X_train[['Department']])
X_test_encoded = encoder.transform(X_test[['Department']])

In [ ]:
# Create a OneHotEncoder for the Attrition column
encoder = OneHotEncoder(sparse=False, drop='first')

# Fit the encoder to the training data
encoder.fit(X_train[['Attrition']])

# Create two new variables by applying the encoder
# to the training and testing data
X_train_encoded_attrition = encoder.transform(X_train[['Attrition']])
X_test_encoded_attrition = encoder.transform(X_test[['Attrition']])

## Part 2: Create, Compile, and Train the Model

In [ ]:
# Find the number of columns in the X training data.
num_columns = X_train.shape[1]
print(f"Number of columns in X_train: {num_columns}")

# Create the input layer
model.add(Dense(units=64, activation='relu', input_dim=num_columns)) 

# Create at least two shared layers
model.add(Dense(units=32, activation='relu'))  
model.add(Dense(units=16, activation='relu'))
model.add(Dense(units=1, activation='sigmoid')

In [ ]:
# Create a branch for Department
# with a hidden layer and an output layer
num_department_categories = X_train_encoded_df.shape[1]
department_input = Input(shape=(num_department_categories,), name='Department_Input')

# Create the hidden layer
department_hidden = Dense(64, activation='relu', name='Department_Hidden')(department_input)

# Create the output layer
department_output = Dense(1, activation='sigmoid', name='Department_Output')(department_hidden)

In [ ]:
# Create a branch for Attrition
# with a hidden layer and an output layer
attrition_input = Input(shape=(1,), name='Attrition_Input') 
# Create the hidden layer
attrition_hidden = Dense(64, activation='relu', name='Attrition_Hidden')(attrition_input)

# Create the output layer
attrition_output = Dense(1, activation='sigmoid', name='Attrition_Output')(attrition_hidden)

In [ ]:
# Create the model
model = Model(inputs=[attrition_input, other_input], outputs=final_output)

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Summarize the model
model.summary()

In [ ]:
# Train the model
history = model.fit(
    [X_train_attrition, X_train_other],  # Input data: Attrition and other features
    y_train,  # Target labels
    epochs=10,  # Number of epochs (iterations over the entire dataset)
    batch_size=32,  # Number of samples per gradient update
    validation_data=([X_test_attrition, X_test_other], y_test)

In [ ]:
# Evaluate the model with the testing data
test_loss, test_accuracy = model.evaluate([X_test_attrition, X_test_other], y_test)
print(f"Test Loss: {test_loss}")
print(f"Test Accuracy: {test_accuracy}")

In [ ]:
# Print the accuracy for both department and attrition
print("Training accuracy for Attrition branch:", history.history['Attrition_Output_accuracy'])
print("Training accuracy for Final Output:", history.history['Final_Output_accuracy'])

# Print validation accuracy for both Attrition and Final Output
print("Validation accuracy for Attrition branch:", history.history['val_Attrition_Output_accuracy'])
print("Validation accuracy for Final Output:", history.history['val_Final_Output_accuracy'])

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

#

YOUR ANSWERS HERE

1. Accuracy is not neccesarily the best metric to observe for prediction. Imbalanced data can be present and mislead.  Others may work betterr.  
2. Sigmoid is used in the output layer because it reders probabilities for class predictions
3.  Fix the class imbalance, strengthen the feature engineering
3.